In [105]:
import pandas as pd
import numpy as np

In [106]:
df_users = pd.read_json("users.json")
df_repos = pd.read_json("repository_data.json")
df_users.head(3)

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,yyx990803,Evan You,None,Singapore,None,NaN,"Husband, father of two, independent OSS dev. @...",195,101745,96,2010-11-28 01:05:40+00:00
1,halfrost,halfrost,KUBEFLOW CNCF,"[California, Singapore, China]",i@halfrost.com,NaN,CS master @Stanford 💪 天道酬勤，勤能补拙。博观而约取，厚积而薄发。Go...,32,17034,361,2015-02-03 07:01:48+00:00
2,DIYgod,DIYgod,NATURAL SELECTION LABS,Singapore,i@diygod.me,NaN,写代码是热爱，写到世界充满爱！,86,14141,443,2014-07-25 09:27:56+00:00

In [107]:
df_repos.head(3)

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,yyx990803,vuejs/vuefire,2016-01-07 22:57:53+00:00,3858,3858,TypeScript,True,True,mit
1,yyx990803,vuejs/router,2019-02-07 18:09:43+00:00,3914,3914,TypeScript,True,True,mit
2,yyx990803,fastify/fastify-vite,2021-03-06 13:34:37+00:00,882,882,JavaScript,True,True,mit

In [108]:
df_users.sort_values('followers', ascending=False)[:5]

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,yyx990803,Evan You,None,Singapore,None,NaN,"Husband, father of two, independent OSS dev. @...",195,101745,96,2010-11-28 01:05:40+00:00
1,halfrost,halfrost,KUBEFLOW CNCF,"[California, Singapore, China]",i@halfrost.com,NaN,CS master @Stanford 💪 天道酬勤，勤能补拙。博观而约取，厚积而薄发。Go...,32,17034,361,2015-02-03 07:01:48+00:00
2,DIYgod,DIYgod,NATURAL SELECTION LABS,Singapore,i@diygod.me,NaN,写代码是热爱，写到世界充满爱！,86,14141,443,2014-07-25 09:27:56+00:00
3,yangshun,Yangshun Tay,GREATFRONTEND,Singapore,tay.yang.shun@gmail.com,NaN,"Building @greatfrontend. Formerly @meta, @face...",107,11179,287,2012-01-09 12:30:00+00:00
4,bytedance,Bytedance Inc.,None,Singapore,None,NaN,None,292,7128,0,2013-04-15 08:03:53+00:00

In [109]:
df_users.sort_values('created_at', ascending=True)[:5]

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
502,chuyeow,Cheah Chu Yeow,WEGO.COM,Singapore,chuyeow@gmail.com,1.0,None,73,138,56,2008-02-13 09:34:14+00:00
377,choonkeat,Chew Choon Keat,None,Singapore,choonkeat@gmail.com,1.0,None,145,183,20,2008-02-20 00:56:00+00:00
347,winston,Winston,None,Singapore,winston.yongwei@gmail.com,NaN,None,39,195,25,2008-03-04 07:14:40+00:00
26,cheeaun,Chee Aun,UNEMPLOYED SINCE JUL'22,Singapore,cheeaun@gmail.com,1.0,Product-first Front-end Engineer. Interested i...,237,1691,1011,2008-03-05 17:58:29+00:00
467,nowa,Nowa Zhu,None,Singapore,nowazhu@gmail.com,NaN,Be a block of the world.,104,149,20,2008-03-25 23:14:01+00:00

In [110]:
df_repos.license_name.value_counts()[:3]

license_name
mit           14245
apache-2.0     6023
other          4350
Name: count, dtype: int64

In [111]:
df_users.company.value_counts()

company
NATIONAL UNIVERSITY OF SINGAPORE    41
NANYANG TECHNOLOGICAL UNIVERSITY    24
TIKTOK                               9
SHOPEE                               8
GOOGLE                               6
                                    ..
NUMEN CYBER TECHNOLOGY               1
TASKADE                              1
HARBIN INSTITUTE OF TECHNOLOGY       1
NUS, TENCENT                         1
OPEN-RMF                             1
Name: count, Length: 284, dtype: int64

In [112]:
df_repos.language.value_counts()

language
JavaScript    8216
Python        6789
TypeScript    2968
Java          2726
Go            2338
              ...
Mercury          1
CLIPS            1
ABAP             1
Rascal           1
Stata            1
Name: count, Length: 205, dtype: int64

In [113]:
users_after_2020 = df_users[df_users.created_at.dt.year > 2020].login

In [114]:
df_repos[df_repos.login.isin(users_after_2020)]['language'].value_counts()

language
TypeScript          419
JavaScript          216
Python              196
Rust                118
Go                  102
Solidity             57
Java                 41
HTML                 39
Jupyter Notebook     30
C++                  30
Swift                24
Dart                 22
Shell                18
Vue                  15
CSS                  14
Kotlin               14
Markdown             12
Move                 11
MDX                   9
Cairo                 7
Dockerfile            7
C                     5
Lua                   4
Astro                 4
Objective-C           4
C#                    4
PHP                   3
TeX                   3
SCSS                  3
Less                  2
Sway                  2
EJS                   2
Ruby                  2
HCL                   2
MQL5                  1
Smarty                1
PowerShell            1
WebAssembly           1
MATLAB                1
PLpgSQL               1
Prolog                1
Svelte                1
Roff                  1
GDScript              1
Clojure               1
Elixir                1
Clarity               1
Blade                 1
Circom                1
Assembly              1
Verilog               1
Name: count, dtype: int64

In [115]:
df_repos.groupby('language').agg({'stargazers_count': 'mean'}).sort_values('stargazers_count', ascending=False)

                     stargazers_count
language
Inno Setup                1506.000000
MDX                       1193.048780
Clojure                   1053.774194
Gnuplot                    750.000000
Vala                       741.500000
...                               ...
HyPhy                        0.000000
PureBasic                    0.000000
Gleam                        0.000000
Game Maker Language          0.000000
jq                           0.000000

[205 rows x 1 columns]

In [116]:
def leader_strength(row):
    return row['followers'] / (1 + row['following'])

In [117]:
df_users['leader_strength'] = df_users.apply(leader_strength, axis=1)

In [118]:
df_users.sort_values('leader_strength', ascending=False)[:5]

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at,leader_strength
4,bytedance,Bytedance Inc.,None,Singapore,None,NaN,None,292,7128,0,2013-04-15 08:03:53+00:00,7128.0
5,Jinjiang,Jinjiang,VUEJS TEAMBIT,Singapore,zhaojinjiang@me.com,NaN,0.1.x Engineer + ⚽️💻,75,7095,0,2010-02-19 16:30:03+00:00,7095.0
7,cloudflare,Cloudflare,None,"San Francisco, London, Austin, Lisbon, Singapore",None,NaN,None,475,6424,0,2010-06-25 01:24:59+00:00,6424.0
13,JamesNK,James Newton-King,MICROSOFT,Singapore,None,NaN,Software Developer. Author of Json.NET. Not Ba...,72,4172,0,2010-06-11 23:08:02+00:00,4172.0
15,Shib-Chain,ShibChain,None,Singapore,dev@shibchain.app,NaN,None,6,3178,0,2022-09-06 07:39:53+00:00,3178.0

In [119]:
df_users[['public_repos','followers']].corr()

              public_repos  followers
public_repos      1.000000   0.046152
followers         0.046152   1.000000

In [120]:
X = df_users[['public_repos']]
y = df_users[['followers']]

In [121]:
from sklearn.linear_model import LinearRegression

In [122]:
model = LinearRegression()
model.fit(X,y)
model.coef_

array([[1.446938]])

In [123]:
df_repos['has_projects'] = df_repos['has_projects'].map({True: 1, False: 0})
df_repos['has_wiki'] = df_repos['has_wiki'].map({True: 1, False: 0})

In [124]:
df_repos['has_projects'].corr(df_repos['has_wiki'])

0.3222892632021283

In [125]:
df_users.hireable.fillna(0, axis=0, inplace=True)

C:\Users\HOMENEW\AppData\Local\Temp\ipykernel_23500\1585542809.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_users.hireable.fillna(0, axis=0, inplace=True)

In [126]:
df_users[(df_users['hireable'] == True)]['following'].mean() - df_users[(df_users['hireable'] == False)]['following'].mean()

221.43787624993655

In [127]:
df_users['bio_length'] = df_users.bio.str.split().str.len()
df_users.dropna(subset=['bio_length'], inplace=True)

In [128]:
X = df_users[['bio_length']]
y = df_users.followers

In [129]:
model.fit(X,y)
model.coef_

array([37.01099934])

In [130]:
df_repos['created_day'] = df_repos.created_at.dt.dayofweek

In [131]:
df_repos.created_day.unique()

array([3, 5, 6, 0, 1, 4, 2])

In [132]:
df_repos[df_repos.created_day.isin([5,6])]['login'].value_counts()

login
alextanhongpin     184
SOF3               147
shantanu561993     136
pankajparkar       119
KennyDizi          117
                  ...
Galxe                1
thinkininfinity      1
pluto-player         1
HalloKyle            1
GreyDGL              1
Name: count, Length: 669, dtype: int64

In [133]:
# Filter the DataFrame by hireable and non-hireable users
hireable_users = df_users[df_users['hireable'] == True]
non_hireable_users = df_users[df_users['hireable'] == False]

# Calculate the fraction of users with an email in each group
hireable_with_email_fraction = hireable_users['email'].notna().mean()
non_hireable_with_email_fraction = non_hireable_users['email'].notna().mean()

# Calculate the difference
fraction_difference = hireable_with_email_fraction - non_hireable_with_email_fraction
print(f"Difference in fraction of users with email (hireable - non-hireable): {fraction_difference:.3f}")

Difference in fraction of users with email (hireable - non-hireable): 0.057

In [134]:
# Filter out users with missing names
df_users_with_names = df_users[df_users['name'].notna()]

# Extract the last word in each name, assuming it's the surname
df_users_with_names['surname'] = df_users_with_names['name'].str.strip().str.split().str[-1]

# Count occurrences of each surname
surname_counts = df_users_with_names['surname'].value_counts()

# Find the maximum count
max_count = surname_counts.max()

# Get the most common surnames (those with the maximum count)
most_common_surnames = surname_counts[surname_counts == max_count].index.sort_values().tolist()
most_common_surnames_str = ", ".join(most_common_surnames)

# Output the result
print(f"Most common surnambe(s): {most_common_surnames_str}")
print(f"Number of users with the most common surname: {max_count}")

Most common surnambe(s): Wang
Number of users with the most common surname: 13

C:\Users\HOMENEW\AppData\Local\Temp\ipykernel_23500\1673981707.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_users_with_names['surname'] = df_users_with_names['name'].str.strip().str.split().str[-1]

In [135]:
df_repos

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name,created_day
0,yyx990803,vuejs/vuefire,2016-01-07 22:57:53+00:00,3858,3858,TypeScript,1,1,mit,3
1,yyx990803,vuejs/router,2019-02-07 18:09:43+00:00,3914,3914,TypeScript,1,1,mit,3
2,yyx990803,fastify/fastify-vite,2021-03-06 13:34:37+00:00,882,882,JavaScript,1,1,mit,5
3,yyx990803,vuejs/docs,2019-12-15 09:54:28+00:00,2928,2928,Vue,1,0,other,6
4,yyx990803,yyx990803/opensourcepledge.com,2024-10-14 08:05:24+00:00,7,7,None,1,0,None,0
...,...,...,...,...,...,...,...,...,...,...
59717,mxgrey,a-price/hubo_motion_ros,2013-05-20 19:17:39+00:00,1,1,C++,1,1,None,0
59718,mxgrey,a-price/HuboApplication,2013-01-29 20:47:37+00:00,2,2,C++,1,1,None,1
59719,mxgrey,mxgrey/hubo_init,2013-05-08 23:57:17+00:00,0,0,C++,1,1,None,2
59720,mxgrey,mxgrey/hubo-walk-gui,2013-03-31 19:32:59+00:00,0,0,C++,1,1,None,6
59721,mxgrey,yissac/project2,2012-02-22 04:01:22+00:00,0,0,C++,1,1,None,2

In [136]:
df_repos['created_at'] = pd.to_datetime(df_repos['created_at']).dt.strftime('%Y-%m-%dT%H:%M:%SZ')

In [137]:
df_repos

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name,created_day
0,yyx990803,vuejs/vuefire,2016-01-07T22:57:53Z,3858,3858,TypeScript,1,1,mit,3
1,yyx990803,vuejs/router,2019-02-07T18:09:43Z,3914,3914,TypeScript,1,1,mit,3
2,yyx990803,fastify/fastify-vite,2021-03-06T13:34:37Z,882,882,JavaScript,1,1,mit,5
3,yyx990803,vuejs/docs,2019-12-15T09:54:28Z,2928,2928,Vue,1,0,other,6
4,yyx990803,yyx990803/opensourcepledge.com,2024-10-14T08:05:24Z,7,7,None,1,0,None,0
...,...,...,...,...,...,...,...,...,...,...
59717,mxgrey,a-price/hubo_motion_ros,2013-05-20T19:17:39Z,1,1,C++,1,1,None,0
59718,mxgrey,a-price/HuboApplication,2013-01-29T20:47:37Z,2,2,C++,1,1,None,1
59719,mxgrey,mxgrey/hubo_init,2013-05-08T23:57:17Z,0,0,C++,1,1,None,2
59720,mxgrey,mxgrey/hubo-walk-gui,2013-03-31T19:32:59Z,0,0,C++,1,1,None,6
59721,mxgrey,yissac/project2,2012-02-22T04:01:22Z,0,0,C++,1,1,None,2

In [138]:
df_repos.drop(columns=['created_day'], inplace=True)

In [139]:
df_repos

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,yyx990803,vuejs/vuefire,2016-01-07T22:57:53Z,3858,3858,TypeScript,1,1,mit
1,yyx990803,vuejs/router,2019-02-07T18:09:43Z,3914,3914,TypeScript,1,1,mit
2,yyx990803,fastify/fastify-vite,2021-03-06T13:34:37Z,882,882,JavaScript,1,1,mit
3,yyx990803,vuejs/docs,2019-12-15T09:54:28Z,2928,2928,Vue,1,0,other
4,yyx990803,yyx990803/opensourcepledge.com,2024-10-14T08:05:24Z,7,7,None,1,0,None
...,...,...,...,...,...,...,...,...,...
59717,mxgrey,a-price/hubo_motion_ros,2013-05-20T19:17:39Z,1,1,C++,1,1,None
59718,mxgrey,a-price/HuboApplication,2013-01-29T20:47:37Z,2,2,C++,1,1,None
59719,mxgrey,mxgrey/hubo_init,2013-05-08T23:57:17Z,0,0,C++,1,1,None
59720,mxgrey,mxgrey/hubo-walk-gui,2013-03-31T19:32:59Z,0,0,C++,1,1,None
59721,mxgrey,yissac/project2,2012-02-22T04:01:22Z,0,0,C++,1,1,None

In [140]:
df_repos.to_csv('repositories.csv')